@import "variables";
@import "home";
@import "destinations";

body {
    font-family: $titling-font;
    max-width: 100%;
    overflow-x: hidden !important;
}

h1 {
    font-weight: $bold;
    font-style: normal;
    color: white;
}

footer {
    background-color: gray;
    padding: 2rem;
    color: white;
    font-size: 12px;
    font-weight: $bold;
    margin: auto;
}
