#home-banner-img-responsive {
  width: 100%;
  height: 100vh;
}

#home-banner-text-responsive {
  position: absolute;
  width: 100%;
  color: white;
  top: 40vh;
  left: 0;
}

.home-banner {
  width: 100%;
  height: 100%;
}

.home-banner img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  background-attachment: fixed;
  background-position: 50% 50%;
}

.font-size-90 {
  font-size: calc(50px + (90 - 50) * ((100vw - 576px) / (1140 - 576)));
}

.home-box {
  width: 80%;
  margin: auto;
  background-color: white;
  position: relative;
  top: -3rem;
  padding: 2rem 6rem;
  box-shadow: 0 15px 30px rgba(101, 101, 101, 0.2);
}

.home-box p {
  color: #898989;
  margin: 0;
  font-weight: 700 !important;
  font-size: calc(13px + (18 - 13) * ((100vw - 576px) / (1140 - 576)));
}

#explore-heading {
  color: #898989;
  font-size: calc(70px + (110 - 70) * ((100vw - 576px) / (1140 - 576)));
  font-weight: 700 !important;
}

#home-2020 {
  color: #898989;
  font-weight: 700 !important;
  font-size: 178px;
  line-height: 7rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card {
  width: 100% !important;
  border: none;
  box-shadow: 0 15px 30px rgba(124, 124, 124, 0.16);
  border-radius: 0 !important;
  border: none !important;
}

.card-img-top {
  border-radius: 0 !important;
}

.card-body {
  padding: 2rem !important;
}

.card-title {
  color: #898989 !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}

.card-text {
  color: #262626 !important;
  font-size: 12px !important;
  font-weight: 100 !important;
}

.card-price {
  color: #898989 !important;
  font-size: 13px !important;
  font-weight: 400 !important;
}

#destinations-details-cta {
  width: 100%;
  border-radius: 0 !important;
  background-color: #4496F5 !important;
  border-color: #4496F5 !important;
  font-size: 12px;
  font-weight: 400 !important;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

#destinations-details-cta:hover {
  -webkit-transform: translate(0, -1em) !important;
          transform: translate(0, -1em) !important;
}

@media screen and (max-width: 576px) {
  #explore-heading {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #home-banner-img-responsive {
    height: 45vh !important;
  }

  #home-banner-text-responsive {
    top: 15vh !important;
  }

  .home-box {
    padding: 2rem 4rem !important;
  }
}

#destinations-banner-blur-responsive-nyc {
  position: absolute;
  color: white;
  top: 30vh;
  width: 80%;
  left: 10%;
  height: 40%;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("/images/nyc-banner-bg.png");
}

#destinations-banner-blur-responsive-bora-bora {
  position: absolute;
  color: white;
  top: 30vh;
  width: 80%;
  left: 10%;
  height: 40%;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("/images/bora-bora-banner-bg.png");
}

#destinations-banner-text-responsive {
  position: absolute;
  width: 80%;
  color: white;
  top: 40vh;
  left: 10%;
}

#destinations-banner-text-responsive h1 {
  text-align: left;
}

#destinations-banner-text-responsive .destinations-banner-title-separator {
  width: 40%;
  border-top: 1px solid #707070;
  left: -5%;
  top: 41%;
  position: absolute;
}

#destinations-banner-text-responsive .font-size-70 {
  font-size: calc(50px + (70 - 50) * ((100vw - 576px) / (1140 - 576)));
}

#destination-banner-price-responsive {
  position: absolute;
  width: 80%;
  color: white;
  top: 30vh;
  left: 10%;
}

#destination-banner-price-responsive .destinations-price-banner {
  text-align: left;
  margin-top: 1rem;
  font-weight: 100 !important;
}

#destination-banner-promo-responsive {
  position: absolute;
  width: 80%;
  color: white;
  top: 40vh;
  left: 10%;
}

#destination-banner-promo-responsive .destinations-promo-banner {
  text-align: right;
  margin-top: 1rem;
  font-weight: 700 !important;
}

#destination-banner-promo-responsive .font-size-70 {
  font-size: calc(50px + (70 - 50) * ((100vw - 576px) / (1140 - 576)));
  opacity: 0.3;
}

#destination-banner-tagline-responsive {
  position: absolute;
  width: 80%;
  color: white;
  top: 65vh;
  left: 10%;
}

#destination-banner-tagline-responsive .destinations-tagline-banner {
  text-align: right;
  margin-bottom: 1rem;
  font-weight: 100 !important;
}

.destination-description {
  font-size: 25px;
  font-weight: 100 !important;
}

body {
  font-family: titling-gothic-fb, sans-serif !important;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-weight: 700 !important;
  font-style: normal;
  color: white;
}

footer {
  background-color: gray;
  padding: 2rem;
  color: white;
  font-size: 12px;
  font-weight: 700 !important;
  margin-top: 4rem;
}

